name: Metrics
on:
  schedule: [{cron: "30 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # User & Template
          user: Shreevatsa123
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York
          
          # Force it to push to MAIN branch
          committer_branch: main
          committer_token: ${{ secrets.METRICS_TOKEN }}
          committer_name: github-actions[bot]
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          
          # NEW FILENAME to break the cache
          filename: metrics.svg
