name: Metrics
on:
  # Schedule updates (00:30 UTC)
  schedule: [{cron: "30 0 * * *"}]
  # Lines below let you run it manually
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Shreevatsa123
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York
          
          # This enables private stats counting
          committer_token: ${{ secrets.METRICS_TOKEN }}
          
          # Output file name
          filename: stats.svg
